* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav-link a:hover {
  text-decoration: underline; }

main .titular {
  color: black; }

main h1 {
  font-size: 20px;
  width: 420px;
  padding-top: 100px;
  padding-left: 20px; }

main .botones {
  margin: 35px;
  padding-left: 10px;
  gap: 10px; }
  main .botones a {
    background-color: red;
    color: white;
    padding: 20px 40px;
    line-height: 50px;
    text-decoration: none; }
    main .botones a:hover {
      color: blue; }

.fondo {
  background: url(../assets/FondoDuki.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh; }

body {
  font-family: "monteserrat",sans-serif;
  min-height: 100vh;
  background: skyblue; }

.contenedor-error {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434; }
  .contenedor-error h1 {
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px; }
  .contenedor-error a {
    text-decoration: none;
    background: #e55039aa;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s; }

main .Tienda {
  background-color: white;
  width: 100%;
  height: 100%; }
  main .Tienda h1 {
    text-align: center;
    padding: 20px;
    font-size: 48px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: black; }
  main .Tienda .producto {
    border: 1px solid red;
    padding: 20px;
    text-align: center; }
    main .Tienda .producto img {
      max-width: 100%;
      height: auto; }

main .contenedor-info {
  color: white; }
  main .contenedor-info h1 {
    font-size: 60px;
    color: black; }
  main .contenedor-info h2 {
    font-size: 40px;
    color: black; }

main .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 34rem));
  justify-content: center;
  gap: 20px;
  padding: 20px; }

.Tour-Duki {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .Tour-Duki .contenedor-Tour-Duki, .Tour-Duki .contenedor-Tour-Duki-dos {
    display: flex;
    justify-content: center;
    align-items: center; }
    .Tour-Duki .contenedor-Tour-Duki .texto, .Tour-Duki .contenedor-Tour-Duki-dos .texto {
      width: 70%;
      height: 60%;
      color: white;
      padding: 100px; }
      .Tour-Duki .contenedor-Tour-Duki .texto h4, .Tour-Duki .contenedor-Tour-Duki-dos .texto h4 {
        font-size: 100px;
        display: flex;
        align-items: center;
        justify-content: center; }
      .Tour-Duki .contenedor-Tour-Duki .texto p, .Tour-Duki .contenedor-Tour-Duki-dos .texto p {
        display: flex;
        align-items: start;
        font-size: 20px; }
    .Tour-Duki .contenedor-Tour-Duki img, .Tour-Duki .contenedor-Tour-Duki-dos img {
      width: 600px;
      padding: 100px; }
  .Tour-Duki a {
    background: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none; }
    .Tour-Duki a:hover {
      color: blue; }
  .Tour-Duki .contenedor-Tour-Duki-dos {
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey; }
    .Tour-Duki .contenedor-Tour-Duki-dos .fechas {
      width: 30%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      border: 1px solid red;
      padding: 20px;
      text-align: center; }
      .Tour-Duki .contenedor-Tour-Duki-dos .fechas .lugar {
        width: 30%;
        font-size: 19px;
        display: flex;
        justify-content: start;
        align-items: start; }
      .Tour-Duki .contenedor-Tour-Duki-dos .fechas .numero {
        font-size: 40px; }
      .Tour-Duki .contenedor-Tour-Duki-dos .fechas h5 {
        margin: 0;
        font-size: 25px; }
      .Tour-Duki .contenedor-Tour-Duki-dos .fechas .boton {
        height: 100px;
        padding-top: 10px; }

main {
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  main .discografiaa {
    width: 600px; }
    main .discografiaa .texto-disco {
      display: flex;
      flex-flow: column;
      width: 600px;
      padding: 100px; }
    main .discografiaa h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      width: 600px;
      height: 260px;
      padding: 50px;
      color: white; }
    main .discografiaa p {
      width: 700px;
      height: 400px;
      padding: 50px;
      color: white;
      font-size: 20px; }

.Carousel- {
  width: 1100px;
  height: 1100px;
  padding: 300px; }

.contacto {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  background-size: cover; }
  .contacto .contenido-contacto {
    max-width: 800px;
    text-align: center; }
    .contacto .contenido-contacto h2 {
      font-size: 36px;
      font-weight: 500;
      color: white; }
    .contacto .contenido-contacto p {
      font-weight: 300;
      color: white; }
  .contacto .contenido-contacto-dos {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px; }
    .contacto .contenido-contacto-dos .contacto-info {
      width: 50%;
      display: flex;
      flex-direction: column; }
      .contacto .contenido-contacto-dos .contacto-info .caja {
        position: relative;
        padding: 20px 0;
        display: flex; }
        .contacto .contenido-contacto-dos .contacto-info .caja .icono {
          min-width: 60px;
          height: 60px;
          background: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 22px; }
        .contacto .contenido-contacto-dos .contacto-info .caja .texto-contactanos {
          margin-left: 20px;
          font-size: 16px;
          color: white;
          font-size: 300; }
          .contacto .contenido-contacto-dos .contacto-info .caja .texto-contactanos h3 {
            font-weight: 500;
            color: skyblue; }

.ContactoFormulario {
  width: 40%;
  padding: 40px;
  background: white; }
  .ContactoFormulario h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500; }
  .ContactoFormulario .Input-caja {
    position: relative;
    width: 100%;
    margin-top: 10px; }
    .ContactoFormulario .Input-caja span {
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      pointer-events: none;
      transition: 0.5s;
      color: #666; }
      .ContactoFormulario .Input-caja span input [type="submit"] {
        width: 10px;
        background: #00bcd4;
        color: white;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 18px; }

.ContactoFormulario .Input-caja input, .ContactoFormulario .Input-caja textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none; }

.ContactoFormulario .Input-caja input:focus ~ span,
.ContactoFormulario .Input-caja input:valid ~ span,
.ContactoFormulario .Input-caja textarea:focus ~ span,
.ContactoFormulario .Input-caja textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px); }

footer {
  width: 100%;
  height: 100px;
  background: #165dc7;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  footer .social-icon {
    display: flex;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap; }
    footer .social-icon li {
      list-style: none; }
      footer .social-icon li a img {
        font-size: 2em;
        color: white;
        margin: 0 10px;
        transition: 0,5s; }
        footer .social-icon li a img:hover {
          transform: translateY(-10px); }
  footer .footer-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap; }
    footer .footer-texto h2 {
      font-size: 20px; }

@media (max-width: 1024px) {
  .contacto {
    padding: 50px; }
  .contenido-contacto {
    flex-direction: column; }
  .contenido-contacto .contacto-info {
    margin-bottom: 40px; }
  .contenido-contacto .contacto-info,
  .ContactoFormulario {
    width: 100%; } }

@media (max-width: 768) {
  main .titular h1 {
    font-size: 20px;
    width: 200px; }
  .grid-container {
    grid-template-columns: repeat(2, 1fr); }
  main .Tour-Duki h5 {
    width: 50px; }
  main .Tour-Duki p {
    font-size: 10px; }
  .checkbtn {
    display: block; }
  main .Tienda h1 {
    font-size: 30px; }
  .Tour-Duki .contenedor-Tour-duki .texto p {
    font-size: 10px;
    height: 60%; }
  .Tour-Duki .contenedor-Tour-duki h4 {
    font-size: 20px;
    width: 100px;
    height: 100px; } }

@media (max-width: 320px) {
  .grid-container {
    width: 100%;
    justify-content: center; }
    .grid-container .Producto {
      padding: 10px; }
  .Tour-Duki .contenedor-Tour-Duki .imagen, .Tour-Duki .contenedor-Tour-Duki-dos .imagen {
    display: none; }
  .Tour-Duki .contenedor-Tour-Duki .texto, .Tour-Duki .contenedor-Tour-Duki-dos .texto {
    width: 1150px; }
    .Tour-Duki .contenedor-Tour-Duki .texto p, .Tour-Duki .contenedor-Tour-Duki-dos .texto p {
      font-size: 10px;
      align-items: start;
      justify-self: start;
      justify-content: start; }
    .Tour-Duki .contenedor-Tour-Duki .texto h4, .Tour-Duki .contenedor-Tour-Duki-dos .texto h4 {
      align-items: start;
      justify-content: start;
      justify-self: start; }
  .Tour-Duki .contenedor-Tour-Duki-dos .fechas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center; } }

main h1 {
  font-size: 15px; }

.discografiaa .texto-disco h2 {
  text-align: start;
  padding: 20px;
  font-size: 48px;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: start; }

.discografiaa .texto-disco p {
  display: flex;
  font-size: 12px;
  text-align: start;
  padding: 50px;
  width: 100%;
  justify-content: start;
  align-items: start; }

.redes-sociales {
  display: flex;
  justify-content: start;
  align-items: start; }

main .Tienda h1 {
  font-size: 20px; }
