@mixin grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 34rem)); 
    justify-content: center;
    gap: 20px; 
    padding: 20px;
}
@mixin Flex($direction,$justify,$align,$gap)
{
display: flex;
flex-direction: $direction;
justify-content: $justify;
align-items: $align;
gap: $gap;
}