.contacto{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-background;
    background-size: cover;
    .contenido-contacto{
        max-width: 800px;
        text-align: center;
        h2{
            font-size: 36px;
            font-weight: 500;
            color: white;
        }
        p{
            font-weight: 300;
            color: white;
        }
    }
    .contenido-contacto-dos{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 30px;
        .contacto-info{
            width: 50%;
            display: flex;
            flex-direction: column;
            .caja{
                position: relative;
                padding: 20px 0;
                display: flex;
                .icono{
                    min-width: 60px;
                    height: 60px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 22px;
                }
                .texto-contactanos{
                    margin-left: 20px;
                    font-size: 16px;
                    color: white;
                    font-size: 300;
                    h3{
                        font-weight: 500;
                        color: skyblue;
                    }
                }
            }
        }
    }
}

.ContactoFormulario{
    width: 40%;
    padding: 40px;
    background: white  ;
    h2{
        font-size: 30px;
        color: #333;
        font-weight: 500;
    }
    .Input-caja{
        position: relative;
        width: 100%;
        margin-top: 10px;
        span{
            position: absolute;
            left: 0;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            pointer-events: none;
            transition: 0.5s;
            color: #666;
            input [type="submit"]{
                width: 10px;
                background: #00bcd4;
                color: white;
                border: none;
                cursor: pointer;
                padding: 10px;
                font-size: 18px;
            }
        }
    }
}
.ContactoFormulario .Input-caja input,.ContactoFormulario .Input-caja textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.ContactoFormulario .Input-caja input:focus ~ span,
.ContactoFormulario .Input-caja input:valid ~ span,
.ContactoFormulario .Input-caja textarea:focus ~ span,
.ContactoFormulario .Input-caja textarea:valid ~ span
{
    color:#e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}