main{
    background-color: $color-background;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .discografiaa{
        width:600px;
        .texto-disco{
            display: flex;
            flex-flow: column;
            width: 600px;
            padding: 100px;
            }
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 50px;
                width:600px;
                height: 260px;
                padding: 50px;
                color: white;
            }
            p{
                width:700px;
                height: 400px;
                padding: 50px;
                color: white;
                font-size: 20px;
            }
        }
        
    }
    .Carousel-{
        width: 1100px;
        height: 1100px;
        padding: 300px;}
        