@media (max-width:320px){
.grid-container{
    width: 100%;
    justify-content: center;
    .Producto{
        padding: 10px;
    }
}
    .Tour-Duki{
        .contenedor-Tour-Duki{
            .imagen{
                display: none;
            }
            .texto{
                width: 1150px;
                p{
                    font-size: 10px;
                    align-items: start;
                    justify-self: start;
                    justify-content: start;
                }
                h4{
                    align-items: start;
                    justify-content: start;
                    justify-self: start;
                }
            }
        }
        .contenedor-Tour-Duki-dos{
            .fechas{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
                justify-content: center;
            }
        }
    }
    

}
main{
    h1{
        font-size: 15px;
    }
}
.discografiaa{
    .texto-disco{
        h2{
            text-align: start;
            padding: 20px;
            font-size: 48px;
            display: flex;
            width: 100%;
            justify-content: start;
            align-items: start;
        }
        p{
            display: flex;
            font-size: 12px;
            text-align: start;
    padding: 50px;
    width: 100%;
    justify-content: start;
    align-items: start;
        }  
    }
}
    .redes-sociales{
        display: flex;
        justify-content: start;
        align-items: start;
    
        
    }
    main{
        .Tienda{
          h1{
            font-size: 20px;
          }
        }
      }



